<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>completed</th>
            </tr>
        </thead>    
        <tbody>
            {% for todo in todos%}
                <tr>
                    <td>{{todo.id}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.completed}}</td>
                </tr>

            {% endfor%}
        </tbody>


    </table>
</body>
</html>